<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet'href='//fonts.googleapis.com/css?family=Raleway:400,300,600'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="ten columns offset-by-one">
        {{> header }}
        <hr>
      </div>
    </div>

    {{#each collections.posts}}
      <div class="row">
        <div class="ten columns offset-by-one">
          <div class="post-item u-cf">
            <h2><a href="{{this.path}}">{{this.title}}</a></h2>
            <p>{{ moment this.date format="MMM Do, YYYY"}}</p>

            <p>
              {{{ excerpt }}}
            </p>

            <div class="read-more u-pull-right">
              <a class="button button-primary" href="{{this.path}}">Read more</a>
            </div>
          </div>
          <hr>
        </div>
      </div>
    {{/each}}

    <div class="row">
      <div class="ten columns offset-by-one">
        {{> footer }}
      </div>
    </div>
  </div>

</body>
</html>
