body {
  background-color: #f2f2f2;
}

h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

main {
  padding-bottom: 20px;
}

footer {
  text-align: center;
}

.post-item {
  padding-bottom: 1em;
}

.return-link {
  padding-bottom: 20px;
}

.container {
  margin-top: 10px;
}

@media (min-width: 550px) {
  .container {
    margin-top: 50px;
  }
}
